[submodule "mpgcpp/CPLibrary"]
	path = mpgcpp/CPLibrary
	url = git@github.com:ramizouari/CPLibrary.git
[submodule "mpgcpp/concurrentqueue"]
	path = mpgcpp/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "mpgcpp/pybind11"]
	path = mpgcpp/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
